h1 {
  font-family: "source-code-pro", monospace;
  font-weight: 600;
  font-style: normal;
  max-width: fit-content;
  margin: auto;
}
p {
  margin: 20px;
  padding: 20px;
  border: 5px solid black;
  width: 50%;
}
body {
  margin: auto;
}
ul {
  list-style: none;
  padding: 10px;
  margin: 0%;
  display: inline-block;
  width: max-content;
}
header {
  font-family: "source-code-pro", monospace;
  font-weight: 600;
  font-style: normal;
  padding: 10px;
  background-color: #6d6d6d;
  color: white;
  width: auto;
}
div {
  font-size: 1.5em;
  display: inline-block;
  width: 50%;
}
a {
  text-decoration: none;
  color: black;
  padding: 10px;
}
nav {
  display: inline-block; 
  width: 49%;
  text-align: right;
}
li {
  display: inline-block;
  font-size: 1.5em;
}
a:hover,a:active {
  background-color: #6d6d6d;
  color: white;
}
p::first-letter {
  font-size: 2em;
  color: red;
}